.Commannds{
    background-color: rgb(226, 43, 43);
    width:350px;
    height: 380px;
    padding: 20px;
    margin-right: 65px;
}

@media screen and (min-width: 1024px) {
    .Commannds{
        background-color: rgb(12, 215, 22);
        width: 600px;
        height: 500px;
        margin: 20px;
        padding: 20px;
        margin-top: 100px;
        padding: 30px;
    }
    }
